@charset "UTF-8";

/* @import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css'); */

@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

body{
	background-color: #1F2128 !important; 
	
}
*{
	color: #999999;
	font-family: 'Freesentation-9Black';
	/* font-weight: 500; */
	
}
#box{
	width: 500px;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
   }
   
#id_msg, #nickname_msg{
	display: inline-block;
	width: 300px;
	height: 20px;
	margin-left: 10px; 
}
.membership-btn input{
	font-weight: bold;
	/* border: 1px solid #2d2f35; */
	margin-top: 50px;
	margin-bottom: 30px;
	
}

#box .form-group .form-group{
	margin-bottom: 30px;
}  
#box .form-group .addr{
	margin-bottom: 50px;
}
.form-group input{
	width:50%;
}

.text1{
	margin-bottom: 10px;
	font-size: 20px;
}

.addr_text{
	float:left;
}
.a_search{
	background-color: #2B2E36;
	width:25% !important;
	height: 47px;
	font-size: 17px !important;
	font-weight: bold;
	margin-left: 20px;
} 


.form-group .text1 .addr_text .a_search:hover{
	background-color: #2B2E36;
	width:25% !important;
	height: 47px;
	font-size: 17px !important;
	font-weight: bold;
	margin-left: 20px;
	
	background-image: rgba(0,0,0,.4) !important;
	color: white !important;
} 

.btn:hover{
	color: white !important;
}

input{
	background-color: #1D1F26 !important;
	border: 0.5px solid #2D2F35 !important;
}
input:active, input:focus {
	border: 0.5px soild #575C6D !important; 
	box-shadow: none !important;
}

input:hover{
	border: 0.5px soild #575C6D !important; 
}
.addr{
	margin-bottom: 50px;
}

hr {
    background:#2D2F35 !important;
    height:1px !important;
    border:0 !important;
}
.home a{
	text-decoration: none !important;
	color: #999999 !important;
	font-size: 15px;
	font-weight: 300 !important;
	text-align: center !important;	/* 안 먹어서 태그에 직접 적용 */
}
.home a:hover{
	color: white !important;
}
